

<form [formGroup]="updatePasswordForm">
<div class="form-group">
  <label>Old Password</label>
  <input formControlName='oldPassword' class="form-control" type ="password"  placeholder="Old Password">
  <div class="input-group-append">
    <!-- <button class="btn btn-outline-secondary" type="button" (click)="password()">
      {{show?'Show':'hide'}}</button> -->
    <div *ngIf="f.oldPassword.touched && f.oldPassword.invalid" class="text-danger">
      <div *ngIf="f.oldPassword.errors.required">Password is required.</div>
      <div *ngIf="f.oldPassword.errors.confirmedValidator">Old password is wrong.</div>
  </div>
  </div><br />
</div>

<div class="form-group">
  <label>New Password</label>
  <input formControlName='newPassword' class="form-control" type="password" 
  matInput [(ngModel)]="data.newPassword" placeholder="New Paasword">
  <div *ngIf="f.newPassword.touched && f.newPassword.invalid" class="text-danger">
    <div *ngIf="f.newPassword.errors.required">Password is required.</div>
</div>
<br />
</div>

<div class="form-group">
  <label>Confirm Password</label>
  <input formControlName='confirmPassword' class="form-control" type="password" 
      matInput [(ngModel)]="data.confirmPassword" placeholder="Confirm Password">
      <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="text-danger">
        <div *ngIf="f.confirmPassword.errors.required">Password is required.</div>
        <div *ngIf="f.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be match.</div>
    </div><br />
</div> 
</form>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button> -->
  <button class="btn btn-primary" mat-button  
[mat-dialog-close]="{newPassword : data.newPassword , confirmPassword : data.confirmPassword }"
  cdkFocusInitial >Edit</button> 
</div>