* {
  overflow: hidden;
}

#formheading {
  color: black;
  font-family: "GothamPro Medium", serif;
  text-align: center;
  line-height: 52px;
  margin-bottom: 8px;
}

.content {
  position: relative;
  top: -10px;
  text-align: center;
  margin: auto;
}
.sidebarheading {
  max-width: 100%;
  color: #fff;
  font-family: "GothamPro Medium", serif;
  font-size: 3rem;
  letter-spacing: 0;
  line-height: 48px;
  margin: 0 0 20px;
  text-align: center;
}
p {
  width: 100%;
  max-width: 350px;
  color: #fff;
  font-family: GothamPro, serif;
  font-size: 1.375rem;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
  margin-bottom: 32px;
}

.btn1 {
  height: 54px;
  min-width: 223px;
  border: none;
  border-radius: 30px;
  color: #1a1e1d;
  font-family: "GothamPro Medium", serif;
  font-size: 1.2rem;
  text-align: center;

  cursor: pointer;

  line-height: 100%;
  -webkit-box-shadow: 0 12px 24px rgb(34 51 49 / 13%);
  box-shadow: 0 12px 24px rgb(34 51 49 / 13%);
  background: #fff;
  width: 40%;
}

h1 {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

@media screen and(min-width: 768px) {
  .login,
.image {
  min-height: 100vh;
}
}
@media screen and(max-width: 767px) {
  .margin{
   height: 340px;
   
  }
 .line-height{
  height: 59vh;
 }
 .login{
  margin-top: 70px;
 }
 .content{
  margin-top: 70px;
 }
}

.bg-image {
  background-image: linear-gradient(253deg, #3ba5b4 0, #38ba8a 100%);
  background-size: cover;
  background-position: center center;
}

