@import url('https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import '~ngx-toastr/toastr.css';

html, body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//--------------@angular/cdk custom styling---------------//
.cdk-overlay-container {
  z-index: 500 !important;
}
//--------------@angular/cdk custom styling---------------//

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button{
  padding: 15px 10px;
  background-color: green;
  margin-right: 5px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  width:100px;
  border: none;
}

button:disabled{
  background-color: gray;
  opacity: 0.8;
  color: white;
  cursor: not-allowed;
}
